.kanban-column-header {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust space between icons and heading */
    width: 90%;
    
  }
  
  .kanban-icon {
    width: 24px;
    height: 24px;
    margin-left: 10%;
  }
  .kanban-icon-after {
    width: 24px;
    height: 24px;
    margin-left: 20%;
  }
  